#box{
   height: 150px;
   width: 300px;
   background-color: grey;
   border: 2px dotted black;
   margin-top: 20px;
   margin-bottom: 40px;
   padding: 1em;
 
   margin-left: 2em;
   margin-right: 1em
   
   
}
   
   #box:hover{
  background-color: antiquewhite;
  border-radius: 10px;}
   
.container{
   height: 100px;
   width: 100px;
   background-color: pink;
   border:2px solid black;
   border-radius: 50%;
   display:inline-block;
   
   transition: 5s;
   /* transform: scale(1.2); */
   /* font-size:  */
    transition:margin-top 2s ease-in 0.5s, 
  
}
.container:hover{
   background-color: lightblue;
    border-radius: 0%; 
     transform: scale(1.2);  
   transform: rotate(45deg); 
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
   margin: 100px;

}


   

